<h1><li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li></h1>
<p></p>
<input #username (keyup)="0"><p></p>

<input #email (keyup)="0"><p></p>

<input #password (keyup)="0"><p></p>

<input #firstname (keyup)="0"><p></p>

<input #lastname (keyup)="0"><p></p>

<input #phone (keyup)="0"><p></p>


<!--<p>{{box.value}}</p>-->
<p>{{clickMessage}}</p>
<button type="button" (click)=registerButton(username.value,email.value,password.value,firstname.value,lastname.value,phone.value)>Click me!</button>


